@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Roboto:wght@900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;


}


body{
    background-color: black;
}

.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 70px;
    background: gold;
}

.nav h2 {
    
    color: purple;
    font-weight: 900;
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#links li {
    list-style: none;
    padding-right: 50px;
  }

  #links li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: purple;
  }

  .container{
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    
  }

  .container img{
    width: 30%;
    height: 500px;
  }

  .hero-text{
    width: 100%;
    color: white;
  }

  .hero-text h1{
    font-size: 3.3rem;
    margin-bottom: 8px;
    color:gold;
  }

#bio{
    background-color: white;
}

  .biography h1{
    text-align: center;
    color:gold;
  }

  .biography p{
    color: black;
  }

  .biography img{
    margin-left: 10px;
    margin-right: 10px;
  }

  .ac h1{
    text-align: center;
    color: gold;
  }

#achievements{
    color: white;
    text-align: center;
}

#achievements img{
    margin-right: 10px;
    margin-left: 10px;
}